@use "../abstracts" as *;



//
//
//

html {
  scroll-behaviour: smooth;
}



body {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: $color-text-default;
  background-color: $color-background-default;
}



a:not([class]) {
  color: #{$color-text-interactive-default};

  &:is(:hover, :focus) {
    color: #{$color-text-interactive-hover};
  }
}
