<footer class="site-footer region">
    <div class="site-footer__inner">
        <small>&copy; copyright 2025 {{ site.name }}</small>
    </div>
</footer>

<script defer src="/js/main.js"></script>

{{ if hasLightbox }}
<script src="/js/fslightbox.js"></script>
{{ /if }}

<script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>