@use "../abstracts" as *;

//
//
//

.card {
  color: #{$card-text-color};
  background-color: #{$card-background-color};
  border-radius: #{$card-border-radius};
  overflow: hidden;

  &__inner {}

  &__content {
    padding: #{$card-padding};
  }
}
