@use "../abstracts" as *;

.site-nav {
  position: relative;
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
  }

  &__item {
    max-width: unset;
    width: 100%;
    padding: var(--size-xs) var(--size-s);

    @media screen and (min-width: 40em) {
      width: auto;
    }
  }

  &__link {
    color: #{$color-text-interactive-default};
    font-size: 16px;
    text-decoration: none;
    // padding: var(--size-xs) var(--size-xs);

    &:hover {
      color: #{$color-text-interactive-hover};
      //background-color: var(--secondary-500);
    }

    &[aria-current="page"] {
      font-weight: var(--fw-semibold);
    }
  }
}
