<!DOCTYPE html>
<html lang="en">
  {{ include "templates/head.vto" }}  
  <body>
    {{ include "templates/site-header.vto" }}
    <main>
      {{ content }}
    </main>
    {{ include "templates/site-footer.vto" }}
  </body>
</html>
