<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }} - {{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/global.css" rel="stylesheet">
  </head>
  <body class="has-sidebar">
    {{ include "templates/site-header.vto" }}
    <main class="content-grid">
      {{ content }}
    </main>
    <aside class="sidebar">
      
    </aside>
    {{ include "templates/site-footer.vto" }}
  </body>
</html>
