@use "../abstracts" as *;

button,
.button {
  display: inline-flex;
  text-decoration: none;
  font-family: var(--ff-base);
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  line-height: 1;
  padding: var(--size-xs) var(--size-s);
  color: white;
  background: var(--button-bgcolor, var(--accent-500));
  border-radius: .5em;
  cursor: pointer;

  &:is(:hover, :focus) {
    background: var(--accent-300);
  }
}
