@use "../abstracts" as *;

form .grid {
  --grid-gutter: 1rem;
  margin-top: 1rem;
}

label {
  font-size: var(--fs-300);
  display: block;
  color: var(--primary-300);
  margin-bottom: .5em;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: var(--fs-300);
  width: 100%;
  padding: var(--size-xs);
  border-radius: var(--size-3xs);
  border: 1px solid rgba(0,0,0,.3);
  background-color: white;
}

